# Description: Environment variables for the application
# Usage: Copy this file to .env and set the values accordingly
# Note: Do not commit .env file to the repo
PORT=9000
MONGODB_URI=mongodb://localhost:27017
MONGODB_DBNAME=shopscout
TOKEN_SECRET=secret